
// Site variables
$c-teal: #59c3be;
$c-teal-dk: #237d79;

// Vendor config
$frag-max-width: 100%;

// Vendor styles
@import "../vendor/pigeon/lib/pigeon";
@import "../vendor/frag/lib/frag";

// Utilities
@import "util/compat";

// Objects
@import "object/secondary";

// Core site styles
@import "core/layout";
@import "core/glitter";
@import "core/form";
