
<p class="cramp space-above-more secondary">
    <small>
        Copyright &copy; {{year}},
        <a href="http://rowanmanning.com/">Rowan Manning</a>.
    </small>
</p>

<p class="cramp secondary">
    <small>
        Icons are part of the excellent
        <a href="http://somerandomdude.com/work/iconic/">Iconic set</a>,
        bundled by <a href="http://icomoon.io/">IcoMoon</a>.
    </small>
</p>

<p class="space-above secondary">
    <small>
        Big thanks to <a href="http://www.bevanstephens.com/">Bevan Stephens</a>
        for some helpful design advice.
    </small>
</p>
