
<!-- Page meta-information -->
<meta charset="utf-8"/>
<title>{{block "title"}}</title>
<meta name="description" content="{{block "description"}}"/>
{{{block "meta"}}}

<!-- Site links -->
<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="CSSDB"/>

<!-- Styles -->
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Vollkorn:700"/>
<link rel="stylesheet" href="/style/app{{min}}.css{{cacheBuster}}"/>

<!-- Icons/logos -->
<link rel="icon" href="/favicon.png" type="image/png"/>
<link rel="shortcut icon" href="/favicon.ico"/>

<!-- iOS Info -->
<meta name="apple-mobile-web-app-title" content="CSSDB"/>
<link rel="apple-touch-icon" href="/logo/cssdb-57x57.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="/logo/cssdb-72x72.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="/logo/cssdb-114x114.png"/>

<!-- Windows 8 Pinned Site Info -->
<meta name="application-name" content="CSSDB"/>
<meta name="msapplication-tooltip" content="A curated collection of great CSS, Sass, LESS and Stylus libraries."/>
<meta name="msapplication-starturl" content="{{baseUrl}}/"/>
<meta name="msapplication-TileColor" content="#59c3be"/>
<meta name="msapplication-TileImage" content="/logo/cssdb-144x144.png"/>

{{#if production}}
    <!-- Tracking -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39554471-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{{/if}}
