<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    {{> head}}
</head>
<body>
    <div class="grid">
        <div class="col dsk-4 mob-12 typearea sidebar">
            {{{block "sidebar"}}}
        </div>
        <div role="main" class="col dsk-8 mob-12 typearea main">
            {{{body}}}
        </div>
    </div>
    <div class="grid">
        <div class="col dsk-4 mob-hide sidebar">&nbsp;</div>
        <div role="contentinfo" class="col dsk-8 mob-12 footer">
            {{{block "footer"}}}
        </div>
    </div>
    {{> foot}}
</body>
</html>