
{{#fill "title"}}Server Error{{/fill}}

{{#fill "sidebar"}}
    {{> sidebar}}
{{/fill}}

{{#fill "footer"}}
    {{> footer}}
{{/fill}}

<h1>Server Error</h1>

<p>
    It looks like something went wrong on the server. We'll have a look at this
    problem as soon as possible! In the meantime, try again and see if that
    works.
</p>

<p>
    It would be amazing if you could
    <a href="https://twitter.com/intent/tweet?screen_name=theCSSDB&amp;text=I%20got%20a%20server%20error%20on%20the%20CSSDB%20site!">
        <strong>tweet us about this</strong>
    </a>
    – we can get onto fixing it straight away!
</p>
