
{{#fill "title"}}Submitted {{repo}}{{/fill}}
{{#fill "meta"}}
    <meta name="robots" content="noindex"/>
{{/fill}}

{{#fill "sidebar"}}
    {{> sidebar}}
{{/fill}}

{{#fill "footer"}}
    {{> footer}}
{{/fill}}

<h1>Thanks!</h1>

<p>
    We'll have a look at <a href="https://github.com/{{repo}}">{{repo}}</a>, and
    try to get it up on the site as soon as possible.
</p>

<p>
    In the meantime, feel free to <a href="/submit">submit another library</a>
    or <a href="/">browse existing libraries</a>.
</p>
