
{{#fill "title"}}Submit A CSS Library To CSSDB{{/fill}}
{{#fill "description"}}Submit your own CSS library, or one that you think we've missed{{/fill}}

{{#fill "sidebar"}}
    {{> sidebar}}
{{/fill}}

<h1>Submit A CSS Library</h1>

<p>
    We're more than happy to look over your CSS, Sass, LESS and Stylus libraries
    and add them to CSSDB. We have a manual
    <a href="/vetting">vetting process</a> in place, so please be patient.
</p>

<form action="/submit" method="post">

    {{#if errors.length}}
        <div class="space feedback error">
            <p class="cramp">Something went wrong while submitting your library:</p>
            <ul class="cramp stack">
                {{#each errors}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <div class="space field">
        <label for="library-url">GitHub Repository URL</label>
        <input id="library-url" name="url" type="text" value="{{lib.url}}" placeholder="E.g. https://github.com/owner/repo"/>
    </div>

    <div class="space buttons">
        <input type="submit" value="Submit Library"/>
    </div>

</form>
