
{{#fill "title"}}CSSDB Submission Vetting Process{{/fill}}

{{#fill "sidebar"}}
    {{> sidebar}}
{{/fill}}

<h1>Submission Vetting Process</h1>

<p>
    We use a manual vetting process for all submitted libraries. It can take anywhere between 10
    minutes and a week to look over your library (this normally directly correlates to whether I'm
    at work or enjoying a beer somewhere).
</p>

<p>
    I don't have the time to communicate directly with each submitter, but if you're concerned that
    I may not have looked at your library after a week's gone past then you can
    <a href="http://twitter.com/rowanmanning">tweet me and ask</a>.
</p>

<p>
    In the interest of transparency, the rules below are what I use to decide whether a library gets
    added. If the answer to any one of these questions is "no", then I don't add the library.
</p>

<ol>
    <li>
        Is the library focused on CSS or a preprocessor? (it's OK if there's a small amount of
        JavaScript or other languages, as long as the focus is CSS)
    </li>
    <li>
        Has the library been touched in the last three years?
    </li>
    <li>
        Does the library have a README <em>or</em> maintained website?
    </li>
    <li>
        Is the library original (not copyright infringing or a fork of a more popular repo)?
    </li>
    <li>
        Is the library inoffensive/SFW?
    </li>
</ol>

<p>
    As well as the above, I still maintain veto rights. I'll add to the list above if I need to.
</p>
